/* body {
    width: 100%;
    height: 100%;
    background: 
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 var(--y-offset-1, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-2, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 var(--y-offset-3, 110px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px var(--y-offset-4, -170px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px var(--y-offset-5, 370px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-6, 0px),
        linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #000000;
} */


/* body {
    width: 100%;
    height: 100%;
    background: 
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 var(--y-offset-1, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-2, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 var(--y-offset-3, 110px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px var(--y-offset-4, -170px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px var(--y-offset-5, 370px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-6, 0px),
        linear-gradient(135deg, #283c8a, #a23bec, #4a00e0);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #000000;
} */





body {
    background-image: url('bg.webp');
  background-size: cover; 
  background-position: center;
    width: 100%;
    height: 100%;
    background: 
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 var(--y-offset-1, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-2, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 var(--y-offset-3, 110px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px var(--y-offset-4, -170px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px var(--y-offset-5, 370px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-6, 0px),
        /* linear-gradient(135deg, #000000, #5e4670, lightgray , #5e4670, #000000);  */
        /* linear-gradient(135deg, darkgray, Gray, lightgray , Gray, darkgray);  */
        /* linear-gradient(135deg, darkblue , blue, lightblue , blue, darkblue);  */
        linear-gradient(135deg, white, rgb(122, 89, 89),Gray, darkgray, black); 
        /* linear-gradient(135deg, #ff9966, #ff5e62); */
        /* linear-gradient(135deg, #1c1e21, #373a40, #1c1e21, #373a40, #1c1e21); */
        /* linear-gradient(135deg, #ffecd2, #fcb69f); */
        /* linear-gradient(45deg, #6a11cb, #2575fc); */
        /* linear-gradient(135deg, #232526, #414345); */
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #000000;
}



body {
    background-image: url('bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background:
     
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 var(--y-offset-1, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-2, 0px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 var(--y-offset-3, 110px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px var(--y-offset-4, -170px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px var(--y-offset-5, 370px),
        radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-6, 0px),
        /* linear-gradient(135deg, #000000, #5e4670, lightgray , #5e4670, #000000);  */
        linear-gradient(135deg, darkgray, Gray, lightgray , Gray, darkgray); 
        /* linear-gradient(135deg, darkblue , blue, lightblue , blue, darkblue);  */
        /* linear-gradient(135deg, white, rgb(122, 89, 89),Gray, darkgray, black);  */
        /* linear-gradient(135deg, #ff9966, #ff5e62); */
        /* linear-gradient(135deg, #1c1e21, #373a40, #1c1e21, #373a40, #1c1e21); */
        /* linear-gradient(135deg, #ffecd2, #fcb69f); */
        /* linear-gradient(45deg, #6a11cb, #2575fc); */
        /* linear-gradient(135deg, #232526, #414345); */
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #000000; 
  
  }



  

body {
    background-image: url('bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background:
        url('bg.webp'),
        radial-gradient(red 0, rgba(255, 4, 4, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 var(--y-offset-1, 0px),
        radial-gradient(red 0, rgba(73, 9, 126, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-2, 0px),
        radial-gradient(red 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 var(--y-offset-3, 110px),
        radial-gradient(red 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px var(--y-offset-4, -170px),
        radial-gradient(red 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px var(--y-offset-5, 370px),
        radial-gradient(red 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 var(--y-offset-6, 0px),
        /* linear-gradient(135deg, #000000, #5e4670, lightgray , #5e4670, #000000);  */
        linear-gradient(135deg, darkgray, Gray, lightgray , Gray, darkgray); 
        /* linear-gradient(135deg, darkblue , blue, lightblue , blue, darkblue);  */
        /* linear-gradient(135deg, white, rgb(122, 89, 89),Gray, darkgray, black);  */
        /* linear-gradient(135deg, #ff9966, #ff5e62); */
        /* linear-gradient(135deg, #1c1e21, #373a40, #1c1e21, #373a40, #1c1e21); */
        /* linear-gradient(135deg, #ffecd2, #fcb69f); */
        /* linear-gradient(45deg, #6a11cb, #2575fc); */
        /* linear-gradient(135deg, #232526, #414345); */
    /* background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000; 
  
  }
  